<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> 
        
	<context:component-scan base-package="com.botree.*"/>
	
	<context:annotation-config/>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/hb"></property>
		<property name="username" value="abisheikraj"></property>
		<property name="password" value="Bsipl@123"></property>
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		
		<property name="packagesToScan">
			<list>
				<value>com.botree.model</value>
			</list>
		</property>
		<property name="mappingLocations">
			<list>
				<value>classpath:queries.xml</value>
			</list>
		</property>
	</bean>
	
</beans>